flask>=3.0.0
PyPDF2>=3.0.0
transformers>=4.44.0
accelerate>=0.33.0
bitsandbytes>=0.43.0
torch==2.4.1+cu121
torchvision==0.19.1+cu121
torchaudio==2.4.1+cu121
--extra-index-url https://download.pytorch.org/whl/cu121
shortuuid==1.0.11
pymongo>=4.5,<5.0
